In [1]:
a,b,c="good", "morning", 18
print(a,b,c)

good morning 18

In [32]:

A=B,C ="college",25
print(B,C,A)

college 25 ('college', 25)

In [33]:
A=10
B=20
print("Addition of" ,A,"and",B,"is=",A+B)

Addition of 10 and 20 is= 30

In [35]:
A=10
print(type(A))

<class 'int'>

In [36]:
a=35
print(type(a))

<class 'int'>

In [37]:
college=-100
print(type(college))

<class 'int'>

In [38]:
system=200
print(type(system))

<class 'int'>

In [39]:
value=0
print(type(value))

<class 'int'>

In [40]:
number=1000
print(type(number))

<class 'int'>

In [41]:
value=3.3
print(type(value))

<class 'float'>

In [43]:
name=-100.33
print(type(name))

<class 'float'>

In [44]:
run=20.0
print(type(run))

<class 'float'>

In [47]:
fun=True
print(type(fun))

<class 'bool'>

In [53]:
yes=27
print(type(yes))

<class 'int'>

In [55]:
value=27.12
print(type(value))

<class 'float'>

In [56]:
section=''''c'''
print(type(section))

<class 'str'>

In [62]:
king=18.18
print(type(king))

<class 'float'>

In [65]:
string="pyton programming language"
print(string)

pyton programming language

In [66]:
first="bkc"
second="college"
print(first+second)

bkccollege

In [87]:
first="BK"
second="college"
print(((first + second)+"\n")*8)

BKcollege
BKcollege
BKcollege
BKcollege
BKcollege
BKcollege
BKcollege
BKcollege

In [107]:
Name="python programming languages"
print(Name[5])
print(Name[-2])
print(Name[:20])
print(Name[18])
print(Name[3:14])
print(Name[18])
print(Name[6:])
print(Name[:-1])
print(Name[-22:-4])
print(Name[::1])
print(Name[::2])
print(Name[::-1])
print(Name[::-3])
print(Name[::12])

n
e
python programming l

hon program

 programming languages
python programming language
 programming langu
python programming languages
pto rgamn agae
segaugnal gnimmargorp nohtyp
san iao hp
paa

In [112]:
Details = '''multi line comment
hi,Good morning
'''
print(Details)

multi line comment
hi,Good morning

In [131]:
Rollnumber=1,2,3,4,5 ------ 60
print(Rollnumber)

(1, 2, 3, 4, 65)

In [174]:
details=[101]
print(details)
print(type(details))
details.append(85.12)
print(details)
details.append(True)
print(details)
print(len(details))
print(details.pop())
print(details)
details.append("omkar")
print(details)
details.append(+99)
print(details)
print(len(details))
print(details[2])--
print(details[3])
details.append("BKc college")
print(details)
details[3]=99
print(details)
print(details[2:4])
details.insert(2,False)
print(details)
details.remove(False)
print(details)
print(len(details))
print(details[4])
print(details[::-1])
print(details.count(101))
print(details.clear())
print(details)
print(type(details))

[101]
<class 'list'>
[101, 85.12]
[101, 85.12, True]
3
True
[101, 85.12]
[101, 85.12, 'omkar']
[101, 85.12, 'omkar', 99]
4
omkar
99
[101, 85.12, 'omkar', 99, 'BKc college']
[101, 85.12, 'omkar', 99, 'BKc college']
['omkar', 99]
[101, 85.12, False, 'omkar', 99, 'BKc college']
[101, 85.12, 'omkar', 99, 'BKc college']
5
BKc college
['BKc college', 99, 'omkar', 85.12, 101]
1
None
[]
<class 'list'>

In [192]:
details=[102]
print(details)
print(type(details))
details.append(75.12)
details.append(True)
print(details)
print((details.pop()))
print(details)
details.append("abhi")
print(details)
details.append(88)
print(details)
print(len(details))
print(details[2])
print(details[3])
details.append("BK college")
print(details)

[102]
<class 'list'>
[102, 75.12, True]
True
[102, 75.12]
[102, 75.12, 'abhi']
[102, 75.12, 'abhi', 88]
4
abhi
88
[102, 75.12, 'abhi', 88, 'BK college']