In [7]:
Ex=["laptop",35000,"window","lenovo","bengluru","laptop",35000,"MCA","lenovo","chikodi"]
print(Ex)
print(Ex.count("lenovo"))

['laptop', 35000, 'window', 'lenovo', 'bengluru', 'laptop', 35000, 'MCA', 'lenovo', 'chikodi']
2

In [8]:
#cpmpile time program
A=10
B=20
print(A + B)

30

In [18]:
#Run time program
a=int(input("Enter the value of X"))
b=int(input("Enter the value of Y"))
c = a + b
print("Addition of 10 and 20 :",c)

Enter the value of X10
Enter the value of Y20
Addition of 10 and 20 : 30

In [24]:
#Addition of 10 and 20 value is = 30
a=int(input("Enter the value of X"))
b=int(input("Enter the value of Y"))
print("adddition10 of", a,  "and" ,b ,"value is= ",a+b)

Enter the value of X10
Enter the value of Y20
adddition10 of 10 and 20 value is=  30

In [29]:
first=float(input("Enter first value"))
second=float(input("Enter second value"))
print("your answer is : ",first+second)
print("your answer is : ",first-second)
print("your answer is : ",first*second)
print("your answer is : ",first/second)

Enter first value5
Enter second value10
your answer is :  15.0
your answer is :  -5.0
your answer is :  50.0
your answer is :  0.5

In [37]:
first=input( " enter first name  " )
second=input( " enter second name  " )
print( first +  second )

 enter first name  omkar
 enter second name  kumbar
omkarkumbar

In [58]:
name = int(input("value of i is: "))
name1 = int(input("value of j is : "))
print("the multiple of two num is : ",name*name1)
print("the subtraction of two num is:",name-name1)
print("the multiple of two num is:",name*name1)
print("the moudius of two num is:",name%name1)
print("the exponent of two num is:",name**name1)
print("the floor division of two num is:",name//name1)

value of i is: 2
value of j is : 8
the multiple of two num is :  16
the subtraction of two num is: -6
the multiple of two num is: 16
the division of two num is: 0.25
the moudlus of two num is: 2
the exponent of two num is: 256
the floor division of two num is: 0

In [45]:
num1 = 4
num2 = 2
sum = (num1+num2)
print(sum)

6

In [61]:
X=6
Y=2
print("Exponent value is:",X ** Y)

Exponent value is: 36

In [70]:
X=10
Y=20
print(X>Y)
print()
print(X<Y)
print()
print(X==Y)
print()
print(X!=Y)
print()
print(X>=Y)
print()
print(X<=Y)
print()

False

True

False

True

False

True

In [90]:
Ex= "omkar" or "rahul"
print(Ex)

omkar

In [108]:
a=20
b=35
c=13
d=10


print(a==b and c<d)

print(30!=c and d<c)

print(b>a and d<c)

print(20!=a and c==d)

print(a<b or d==c)
print((not(a<b))and 100<200)
print(not(d==10))
print(35 !=d or(not(20==a)))
print(not(a>b))
print(not(c<=d and(not(a<=c))))

False
True
True
False
True
False
False
True
True
True

In [136]:
x=10
print(x)
x-=2  #x=x - 2, x =10 -2
print(x)
x*=5  #x=x *5, x=8*5
print(x)
x//=3
print(x)
x**=2
print(x)
x%=4
print(x)
x+=9
print(x)
x/=3
print(x)

10
8
40
13
169
1
10
3.3333333333333335

In [154]:
Num=9
if Num<10:
  print("10 is a greater than 9")
user_id ="18MCA100"
password=1234
if user_id=="18MCA100" and password==1234:
  print("Access Granted")
else:
  print("Access Deinted")

10 is a greater than 9
Access Granted

In [165]:
name = "omkar"
if name <= "bkc" :
  print("my name is omkar")
else:
  print("omkar is wrong ")

omkar is wrong

In [175]:
num=int(input("enter a numbar value:"))
if num>0:
  print("positive number")
elif num==0:
  print("zero")
else:
  print("negative number")

enter a numbar value:99
positive number

In [180]:
num=int(input("enter the number"))
if num% 2==0:
  print("the number is even")
else:
  print("the number is odd")

enter the number1000
the number is even

In [187]:
nuk= int(input("enter the year : "))
if nuk % 4==0:
  print("the year is not leap")
else:
  print("the year is leap")

enter the year : 2026
the year is leap

In [194]:

age = int(input("enter the age"))

if age>=18:
  print("you are eligible for vote")
else:
  print("you are not eligible for vote")

enter the age18
you are eligible for vote

In [197]:
name = int(input("enter the user name"))
if name == 9480:
  print("your possword is corret")
else:
  print("forgot password")

enter the user name9480
your possword is corret

In [197]:
syntax
if condition :
  print("")
elif contion 2 :
  print("")
else :
  print("")

In [225]:
per=int(input("enter Percentage is :"))
if per>=90:
    print("Grade first class")
elif per>=80:
    print("Grade second class")
elif per>=45:
    print("Grade just pass")
else:
    print("Grade fail")

enter Percentage is :95
Grade first class

In [233]:
prize=input("enter prize medal:")
if prize=="gold":
  print("first prize")
elif prize=="silver":
  print("second prize")
elif prize=="bronze":
  print("third prize")
elif prize=="certificate":
  print("samadankara prize")

  print("samadankara prize")
else:
  print("better luck for next chance")

enter prize medal:certificate
samadankara prize
samadankara prize

In [241]:
signal=input(" traffic signal:")
if signal=="red":
  print(" stop ")
elif signal=="yellow":
  print(" start ")
elif signal=="green":
  print(" go ")
else:
  print("invalid signal ")

 traffic signal:red
 stop

In [251]:
pet=True
aggressive=False
if pet and not aggressive:
  print("Allowed")
else:
  print("not allowed")

Allowed

In [252]:
metal="24kgold"

if metal[:2]=="24":
  print("pure gold")
else:
  print(" not pure")

pure gold