In [ ]:
# KLE BK BCA IN COLLEGE CHIKODI
sentense = "kle bk bca college chikodi"
count=0
for ch in sentense:
    if ch =="aeiou":
     count+=1
print("Total vowle is :",count)

Total vowle is : 0

In [ ]:
base = 4
hight = 5
triangle = 0.5*base*hight
print("area of triangle is;",triangle)

area of triangle is; 10.0

In [ ]:
radius = 5
circle = 3.14*radius*radius
print("area of circle is;",circle)

area of circle is; 78.5

In [ ]:
Ex = [5,25,35, 28,45,10,15 ,55]
largest_number = Ex[0]
for number in Ex:
    if number > largest_number:
        largest_number = number
print("largest number is;",largest_number)

largest number is; 55

In [ ]:
number = [10,50,88,99,8,15,12]
smallest_number = number[0]
for num in number:
    if num < smallest_number:
        smallest_number = num
print("smallest number is;",smallest_number)

smallest number is; 8

In [ ]:
sentanse ="Bachelor of computer science first semester section c"
count = 0
for ch in sentanse:
    if ch not in " aeiou":
       count+=1
print("Totle consonent is :",count)

Totle consonent is : 29

In [ ]:
colours = {"yellow","pink","red","white","orange","gary","maroon"}
for color in colours:
   if color == "gary":
    break
   print(color)

pink
red
orange

In [ ]:
fruits = ("apple" ,"mango","orange","papaya","banana","chery","piunple","avakardo")
for fruit in fruits:
    if fruit == "chery":
        continue
    print(fruit)

apple
mango
orange
papaya
banana
piunple
avakardo

In [ ]:
vegtable = ("brenjal","tomato","pumkin","onion","potato","sweet potato","ledies feinger")
for vegtable in vegtable:
    if vegtable == "pumkin":
        continue
    print(vegtable)

brenjal
tomato
onion
potato
sweet potato
ledies feinger

In [ ]:
mobiles = {'vivo',"redmi","oppo","vivo","vivo","vivo","oppo","iqee","1 plus"}

for mobile in mobiles :
  if mobile == "vivo":
     continue
  print(mobile)

redmi
oppo
iqee
1 plus

In [ ]:
movies = {"pavankind","chhava","rrr","boder","india vs pak","amaran","sinik","surando","bharat mera mahan"}
for movie in movies:
   if movie =="rrr":
     pass
   print(movie)

india vs pak
pavankind
chhava
amaran
sinik
boder
bharat mera mahan
surando
rrr

In [ ]:
thinge = {"mobile","laptop","tab","book","paper","moniter"}
for thinge in thinge:
    if thinge == "laptop":
       break
    print(thinge)

moniter
mobile
book
paper

In [ ]:
for i in range(10):
  for j in range(10):
    print('*',end="")
  print()

**********
**********
**********
**********
**********
**********
**********
**********
**********
**********

In [ ]:
for i in range(10):
  for j in range(10):
    print(j,end="  ")
  print()

0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9
0  1  2  3  4  5  6  7  8  9

In [ ]:
for i in range(10):
  for j in range(10):
    print(i,end="  ")
  print()

0  0  0  0  0  0  0  0  0  0
1  1  1  1  1  1  1  1  1  1
2  2  2  2  2  2  2  2  2  2
3  3  3  3  3  3  3  3  3  3
4  4  4  4  4  4  4  4  4  4
5  5  5  5  5  5  5  5  5  5
6  6  6  6  6  6  6  6  6  6
7  7  7  7  7  7  7  7  7  7
8  8  8  8  8  8  8  8  8  8
9  9  9  9  9  9  9  9  9  9

In [ ]:
for i in range(1,10):
  for j in range(i):
    print(i,end="  ")
  print()

1
2  2
3  3  3
4  4  4  4
5  5  5  5  5
6  6  6  6  6  6
7  7  7  7  7  7  7
8  8  8  8  8  8  8  8
9  9  9  9  9  9  9  9  9

In [256]:
for i in range(5):
  for j in range(0,i+1):
    print(" ",end="  ")
  for j in range(8):
    print("*",end="  ")
  print()

   *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *
            *  *  *  *  *  *  *  *
               *  *  *  *  *  *  *  *

In [257]:
 for i in range(5):
  for j in range(0,j+1):
    print(" ",end="  ")
  for i in range(8):
    print("*",end="  ")
  print()

                        *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *
                        *  *  *  *  *  *  *  *

In [296]:
 for j in range(5):
  for i in range(1,i+0):
    print(" ",end="  ")
  for j in range(8):
    print("*",end="  ")
  print()

         *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *

In [266]:
# @title
 for i in range(5):
  for j in range(i+1,5):
    print(" ",end="  ")
  for i in range(8):
    print("*",end="  ")
  print()

            *  *  *  *  *  *  *  *
         *  *  *  *  *  *  *  *
      *  *  *  *  *  *  *  *
   *  *  *  *  *  *  *  *
*  *  *  *  *  *  *  *

In [316]:
row = 5
col = 5
for i in range(0,row):
  for i in range(0,col):
    if i==0 or j==0 or i==row-1 or j==col-1:
        print("*",end= " ")
    else:
        print(" ",end= " ")
  print()

*       *
*       *
*       *
*       *
*       *

In [305]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
     print(chr(97 +j),end=" ")
  print()

            a
          a b c
        a b c d e
      a b c d e f g
    a b c d e f g h i
  a b c d e f g h i j k
a b c d e f g h i j k l m

In [328]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
     print("*",end=" ")
  print()
for i in range(0,num):
  for j in range(1,1+i):
    print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
     print("*",end=" ")
  print()

            *
          * * *
        * * * * *
      * * * * * * *
    * * * * * * * * *
  * * * * * * * * * * *
* * * * * * * * * * * * *
* * * * * * * * * * * * *
  * * * * * * * * * * *
    * * * * * * * * *
      * * * * * * *
        * * * * *
          * * *
            *

In [343]:
num = 7
for i in range(0,num):
  for j in range(0,num-i-1):
    print(" ",end=" ")
  for j in range(0,i*2+1):
     print("$",end=" ")
  print()
for i in range(0,num):
  for j in range(1,1+i):
    print(" ",end=" ")
  for j in range(0,(num-i)*2-1):
     print("$",end=" ")
  print()

            $
          $ $ $
        $ $ $ $ $
      $ $ $ $ $ $ $
    $ $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
$ $ $ $ $ $ $ $ $ $ $ $ $
  $ $ $ $ $ $ $ $ $ $ $
    $ $ $ $ $ $ $ $ $
      $ $ $ $ $ $ $
        $ $ $ $ $
          $ $ $
            $

In [347]:
def Exmple():
    print("Good Afternoon")

Exmple()

Good Afternoon

In [378]:
#1)Example
def fun(num):
    return num*num
print(fun(4))

16

In [380]:
def add(a,b):
  print(f'addition of two number is {a+b}')
add(5,10)

addition of two number is 15

In [392]:
def add(a,b):
  return a+b
print(add(5,3))

8

In [420]:
def Example(roll_number,name,section, department,college):
    print(f"My name is {name},i am studying {department}, in {college} college. My roll_number is {roll_number}and section is {section}")
Example(101,"omkar",'A',"BCA","KLE")

My name is omkar,i am studying BCA, in KLE college. My roll_number is 101and section is A

In [424]:
def fun(name,game,time):
    print(f"i am {name};i am playing{game} at {time} time")
fun(time = "Evening", name = "omkar", game =  "cricket")

i am omkar;i am playingcricket at Evening time

In [425]:
def laptop(name = "lenovo"):
  print("My laptop name is :",name)
laptop("dell")
laptop("hp")
laptop()
laptop("asus")

My laptop name is : dell
My laptop name is : hp
My laptop name is : lenovo
My laptop name is : asus